@import '../../styles/vars';

.menu {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 16px;
  }

  &__item {
    font-weight: 500;
  }

  &__link {
    display: block;
    padding: 9px 12px;
    background: $white;
    border: 0;
    border-radius: 4px;
    color: $black;

    &:hover {
      color: $blue;
    }

    &:active,
    &:focus,
    &--active {
      color: $blue;
      background: $lt-blue;
    }
  }
}
