extends ../../components/header/header
include ../../components/input-box/input-box
include ../../components/select/select
include ../../components/button/button

block variables
  - var title = 'Личный кабинет'
  - var userPage = true
  - var attributes = {}
    -attributes.class = 'user-area__input-column-item'
block content
  main.page-main
    .wrap
      section.user-area
        .user-area__inner
          a.user-area__link(href='users.html')
            h2.user-area__title= 'Пользователь'
          .user-area__box
            form.user-area__form
              .user-area__img-column
                .user-area__img-inner
                  img.user-area__img(src='../public/img/avatar-icon.svg' alt='Аватар' height='120' width='120')
                label.user-area__img-load-label
                  input.user-area__img-load-input(name="file" type="file")
                  .user-area__img-load-title
                    +icon('download')
                    span= 'Загрузить аватар'
              .user-area__input-column
                +input-box('Имя, фамилия','name','name','Введите имя и фамилию')&attributes(attributes)
                +input-box('E-mail', 'email','email','Введите e-mail','([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})')&attributes(attributes)
                +select('default','','Роль','Выберите роль',['Администаров', 'Контент-мейкер', 'Менеджер'])&attributes(attributes)
                +input-box('Пароль','password','password','Введите пароль')&attributes(attributes)
                +button('button','big','','blue','Сохранить','approved-blue')
