@import '../../styles/common';
@import '../../components/fileldset/fieldset';
@import '../../styles/wrap';

.user-area {
  display: flex;
  justify-content: center;

  &__content-inner {
    max-width: 806px;
    width: 100%;
  }

  &__title-inner {
    display: flex;
    column-gap: 11px;
    align-items: center;
    margin-bottom: 30px;
  }

  &__btn-back {
    stroke: $blue;
  }

  &__title {
    @include font(500, 24px, 28px);
  }

  &__box {
    padding: 40px;
    background: $white;
    border: 1px solid $blue-outline;
    border-radius: 4px;
  }

  &__form {
    display: flex;
    column-gap: 45px;
  }

  &__img-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
  }

  &__img-inner {
    border: 1px solid $blue-outline;
    border-radius: 50%;
    overflow: hidden;
  }

  &__img-load-label {
    cursor: pointer;
  }

  &__img-load-input {
    appearance: none;
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }

  &__img-load-title {
    @include font(500, 1.4rem, 1.6rem);

    display: flex;
    align-items: center;
    column-gap: 10px;
    color: $blue;
  }

  &__input-column {
    width: 529px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: flex-start;
  }

  &__input-column-item {
    width: 100%;
  }
}
