@import '../../styles/vars';

.card-task {
  border-radius: 4px;
  background: $white;
  border: 1px solid $blue-outline;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  cursor: pointer;
  padding: 18px 20px;

  @media (max-width: 1050px) {
    row-gap: 10px;
    flex-wrap: wrap;
  }

  &:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  }

  &__type {
    font-weight: 500;
    white-space: nowrap;
    min-width: 56px;

    &--video {
      color: $blue;
    }

    &--photo {
      color: $green;
    }

    &--audio {
      color: $yellow;
    }
  }

  &__title {
    @include font(500, 14px, 16px);

    max-width: 482px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
  }

  &__title-overlay {
    position: absolute;
    right: 0;
    height: 100%;
    width: 183px;
    background: linear-gradient(270deg, $white 0%, rgba(255, 255, 255, 0) 100%);
  }

  &__author {
    max-width: 165px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__date-inner {
    display: flex;
    align-items: center;
    column-gap: 10px;
    max-width: 116px;
    width: 100%;
  }

  &__date-icon {
    fill: $grey-blue;
  }

  &__status {
    @include font(500, 14px, 16px);

    max-width: 181px;
    width: 100%;
    overflow: hidden;

    &--purple {
      color: $purple;
    }

    &--blue {
      color: $blue-azure;
    }

    &--green {
      color: $green-azure;
    }
  }

  &__btn-inner {
    display: flex;
    column-gap: 15px;
    max-width: 83px;
    width: 100%;
    justify-content: flex-end;
  }
}
