include ../button/button

mixin modal(type, messageValue)
  section.modal
      case type
        when 'message'
          .modal-message
            h2.modal-message__title= messageValue
            +btnCancel('modal-message__btn-close')
            .modal-message__btn-inner
              button(type="button" class="modal-message__btn-yes modal-message__btn")= 'Да'
              button(type="button" class="modal-message__btn-no modal-message__btn")= 'Нет'
        when 'media'
          .modal-media
            button.modal-media__btn
              span.modal-media__btn-icon-inner
                +icon('back')
            .modal-media__content
              p.modal-media__format
              .modal-media__title-inner
                p.modal-media__title
                span.modal-media__time
            .modal-media__mediacontent-inner


