mixin textarea
  .textarea-box
    label.textarea-box__label(for='textarea')= 'Описание'
    textarea.textarea-box__input(id='textarea' name='textarea' cols='30' rows='5' placeholder='Опишите требования')
