@import '../../styles/vars';

.page-header {
  background: $white;
  border-bottom: 1px solid #c8d8ed;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  &__logo-link {
    display: flex;
  }

  &__title {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    visibility: hidden;
  }

  &__menu {
    margin-left: 30px;
    flex-grow: 1;
  }

  &__user-area {
    display: flex;
    align-items: center;

    @media (max-width: $medium) {
      width: 100%;
      justify-content: flex-end;
    }
  }
}
