mixin filterBtn(type,value)
  label.filter
    input.filter__input(type='checkbox', name= type)
    span(class='filter__name filter__name--' + type)
      if type ==='audio'
        +icon(type)
        = 'Аудио'
      if type === 'video'
        +icon(type)
        = 'Видео'
      if type === 'photo'
        +icon(type)
        = 'Фото'
      else
        = value
