@import '../../../node_modules/simplebar/dist/simplebar.min';
@import '../../styles/vars';

.simplebar-scrollbar::before {
  background: $grey-blue;
  width: 4px;
  margin: 0 auto;
  opacity: 1;
  transition: 0.5s;
}

.simplebar-visible::before {
  opacity: 1 !important;
}

.select-box {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  &__title {
    @include font(500, 12px, 14px);

    margin-bottom: 10px;
  }

  &__input {
    border: 1px solid $blue-outline;
    border-radius: 4px;

    &:hover {
      border-color: $grey-blue;
    }
  }

  &--invalid &__input {
    border-color: $red;
  }

  &__header {
    cursor: pointer;
    overflow: hidden;
    background-color: $white;

    &:hover {
      border-color: $grey-blue;
    }
  }

  &__current {
    display: flex;
    padding: 12px 22px 12px 15px;
    position: relative;
    width: 100%;
    color: rgba($black, 0.6);

    &::after {
      content: '';
      background: url('../../../public/img/arrow-down.svg') no-repeat top center;
      width: 6px;
      height: 4px;
      position: absolute;
      right: 15px;
      top: 45%;
    }
  }

  &__body {
    display: none;
    cursor: pointer;
    border: 1px solid $blue-outline;
    border-radius: 4px;
    background-color: $white;
    max-height: 334px;
    margin-top: 10px;
  }

  &--active {
    .select__body {
      display: block;
      position: absolute;
      width: 100%;
      z-index: 100;
    }

    .select__current::after {
      transform: rotate(180deg);
    }

    .select__header {
      border-color: $dark-blue;
    }
  }

  &__item {
    display: flex;
    padding: 12px 15px;

    &--inWork {
      color: $purple;
      font-weight: 500;
    }

    &--completed {
      color: $blue-azure;
      font-weight: 500;
    }

    &--waiting {
      color: $green-azure;
      font-weight: 500;
    }

    &--video {
      color: $blue;
      font-weight: 500;
    }

    &--audio {
      color: $yellow;
      font-weight: 500;
    }

    &--photo {
      color: $green;
      font-weight: 500;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $blue-outline;
    }

    &:hover {
      background: $lt-blue;
    }
  }
}
