@import '../../../node_modules/simplebar/dist/simplebar.min';
@import '../../styles/vars';

.simplebar-scrollbar::before {
  background: $grey-blue;
  width: 4px;
  margin: 0 auto;
  opacity: 1;
  transition: 0.5s;
}

.simplebar-visible::before {
  opacity: 1 !important;
}

.select-box {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  &__title {
    @include font(500, 12px, 14px);

    margin-bottom: 10px;
  }

  &__input {
    border: 1px solid $blue-outline;
    border-radius: 4px;

    &:hover {
      border-color: $grey-blue;
    }
  }

  &--invalid &__input {
    border-color: $red;
  }
}
