.users {
  &__form {
    display: flex;
    column-gap: 15px;
    row-gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  &__search-box {
    width: 393px;
  }

  &__checkbox-box {
    display: flex;
    column-gap: 15px;
  }

  &__link-inner {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}
