.login-group {
  width: 304px;
  padding: 36px;
  background: $white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__title {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 17px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
  }

  &__label_sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    white-space: nowrap;
  }

  &__input {
    outline: none;
    border: 0;
    border-bottom: 1px solid $gray;
    padding: 6px 0;
    width: 100%;
    margin-bottom: 17px;

    &::placeholder {
      font-weight: normal;
      font-size: 16px;
    }
  }

  &__checkbox-label {
    align-self: flex-start;
    font-weight: normal;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    padding-left: 24px;
    margin-top: 6px;

    &::before {
      content: '';
      position: absolute;
      display: block;
      height: 16px;
      width: 16px;
      border-radius: 4px;
      border: 1px solid $gray;
      left: 0;
    }
  }

  &__checkbox {
    display: none;

    &:checked + .login-group__checkbox-label::before {
      background: url('../img/checked.png') no-repeat 0 50%;
      background-size: contain;
    }
  }

  &__btn {
    margin-top: 110px;
    cursor: pointer;
    padding: 9px 32px;
    transition: 0.2s;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    border: 0;
  }

  &__btn_red {
    background: $red;
    color: $white;

    &:hover {
      background: $dark-red;
    }
  }
}
