.container {
  max-width: 1210px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (max-width: $xl-bp) {
    max-width: 750px;
  }

  @media (max-width: $medium-bp) {
    max-width: none;
  }
}
