.header-login {
  width: 33%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  @media (max-width: $small-bp) {
    width: 60%;
  }

  &__input {
    display: none;
    outline: none;
    border: 0;
    border-bottom: 1px solid $gray;
    padding: 7px 0;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    text-align: right;
  }

  &__input_active {
    display: flex;
  }

  &__btn {
    display: none;
    cursor: pointer;
    padding: 9px 32px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    border: 0;
  }

  &__btn_active {
    display: block;
  }

  &__btn-exit {
    padding-left: 17px;
    padding-right: 0;
  }

  &__user-name {
    display: none;
    align-self: center;
    font-weight: 500;
    font-size: 16px;
    color: $gray;
    padding-top: 4px;
    overflow: hidden;
  }

  &__user-name_active {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__btn_red {
    background: $red;
    color: $white;
  }

  &__btn_red:hover {
    background: $dark-red;
  }

  &__btn_white {
    color: $red;
    background: $white;
  }

  &__label_sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    white-space: nowrap;
  }
}
