.popup {
  display: none;
  background: rgba(0, 0, 0, 0.85);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  &__active {
    display: block;
  }

  &__btn {
    position: absolute;
    left: 30px;
    width: 50px;
    height: 100%;
    background: transparent;
    border: 0;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    &::before {
      content: '';
      background: url('../assets/img/back.svg') no-repeat center center;
      position: absolute;
      top: 30px;
      left: 0;
      width: 25px;
      height: 9px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: flex-start;
    position: absolute;
    left: 73px;
    top: 30px;
    color: #fff;
  }

  &__desc-inner {
    display: flex;
    column-gap: 10px;
    align-items: center;
    flex-wrap: wrap;
  }

  &__time {
    opacity: 0.6;
  }

  &__mediacontent-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    overflow: hidden;
    max-width: 938px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__mediacontent {
    width: 100%;
  }
}
