@import '../../styles/vars';

.date-box {
  display: flex;
  flex-direction: column;

  &__label {
    @include font(500, 12px, 14px);

    margin-bottom: 10px;
  }

  &__input {
    border-radius: 4px;
    border: 1px solid $blue-outline;
    background: $white;
    width: 100%;
    padding: 12px 30px 12px 15px;

    &::placeholder {
      @include font(400, 14px, 16px);

      color: $black;
      opacity: 0.6;
    }

    &:hover {
      border-color: $grey-blue;
    }

    &:focus {
      border-color: $blue;
    }
  }

  &__input-inner {
    position: relative;
  }

  &__icon {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
  }
}
