mixin date-box(className, label = 'Дата публикации', placeholder = 'Укажите дату публикации')
  div(class='date-box ' + className)
    label.date-box__label(for='date')= label
    .date-box__input-inner
      input.date-box__input(id="date" placeholder= placeholder type="text" name='date' autocomplete='off',pattern ='([0-9]{2}.[0-9]{2},[0-9]{4})')
      span.date-box__icon
        +icon('calendar')
