@import '../../styles/common';
@import '../../components/fileldset/fieldset';
@import '../../styles/wrap';

.profile {
  display: flex;
  justify-content: center;
}

.profile-box {
  padding: 50px;
  background: $white;
  border: 1px solid $lt-blue;
  border-radius: 4px;

  &__form {
    display: flex;
    column-gap: 46px;
  }
}
