extends ../../components/header/header
include ../../components/input-box/input-box
include ../../components/button/button
include ../../components/select/select
include ../../components/search-box/search-box

block variables
  - var title = 'Профиль'
block content
  main.page-main
    .wrap
      section.profile-box
        .profile-box__content-inner
          .profile-box__title-inner
            +button('button','small','profile-box__btn-back','tranparent','','back')
            h2.page-box__title= 'Профиль'
          .profile-box__form-inner
            form.profile-box__form
              .profile-box__img-column
                .profile-box__img-inner
                  img.profile-box__img(src='../public/img/avatar.svg' width='120' height='120' alt='Аватар')
                label.profile-box__img-load-label
                  input.profile-box__img-load-input(type='file', name='upload')
                  span.profile-bpx__icon-load-inner
                   +icon('upload')
                  = 'Загрузить аватар'
              .profile-box__input-column
                +input-box('Имя, фамилия','name','text','Введите имя и фамилию')&attributes(attributes)
                +input-box('E-mail', 'email','email','Введите e-mail','([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})')&attributes(attributes)
                .profile-box__btn-inner
                  +button('button','big','profile-box__btn-save','blue', 'Сохранить','approved-blue')
                  +button('button','big','profile-box__btn-del','red-text','Удалить','del')
