.video-player {
  display: flex;
  position: absolute;
  bottom: 0;
  background-color: rgba($black, 0.3);
  width: 100%;
  z-index: 10;
  align-items: center;

  &__progress {
    background-color: rgba($white, 0.3);
    width: 100%;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;

    &::after {
      content: '';
      width: 9px;
      height: 9px;
      background-color: $blue;
      border-radius: 50%;
    }

    &-tree {
      height: 3px;
      background: $blue;
      transition: 0.2s;
    }
  }

  &__btn {
    border: 0;
    cursor: pointer;
    height: 40px;
    width: 40px;
    background: transparent;

    &:hover {
      opacity: 0.8;
    }

    &-play::before {
      content: '';
      background: url('../../../public/player-icon/play-icon.svg') no-repeat center center transparent;
      width: 100%;
      height: 100%;
      display: flex;
    }

    &-play--active::before {
      background: url('../../../public/player-icon/pause-icon.svg') no-repeat center center transparent;
    }

    &-volume::before {
      content: '';
      background: url('../../../public/player-icon/volume-icon.svg') no-repeat center center transparent;
      width: 100%;
      height: 100%;
      display: flex;
    }

    &-volume--active::before {
      background: url('../../../public/player-icon/mute-icon.svg') no-repeat center center transparent;
    }

    &-fullscreen::before {
      content: '';
      background: url('../../../public/player-icon/fullscreen-icon.svg') no-repeat center center transparent;
      width: 100%;
      height: 100%;
      display: flex;
    }

    &-fullscreen--active::before {
      background: url('../../../public/player-icon/fullscreen-icon-active.svg') no-repeat center center transparent;
    }
  }

  &__time-control {
    color: rgba($white, 0.6);
  }

  &__volume {
    display: flex;
    align-items: center;
    margin-right: auto;
  }

  &__volume-input {
    height: 3px;
    width: 83px;
    border-radius: 52px;
    appearance: none;

    &::-webkit-slider-thumb {
      width: 9px;
      height: 9px;
      border-radius: 100%;
      border: 0;
      appearance: none;
      background-color: $white;
      z-index: 99;
      position: relative;
      transition: 0.5s all ease;
    }
  }
}
