@import '../../styles/vars';

.task-comment {
  padding: 30px;
  background: $white;
  border-radius: 4px;
  border: 1px solid $blue-outline;

  &__form {
    position: relative;
    display: flex;
  }

  &__input {
    padding: 10px;
    resize: none;
    border: 1px solid $blue-outline;
    border-radius: 4px;
    width: 100%;

    &::placeholder {
      font-size: 1.4rem;
    }
  }

  &__btn {
    @include font(500, 12px, 14px);

    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 8px 10px;
    color: $white;
    background: $blue;
    border-radius: 4px;
    border: 0;
  }
}
