@import '../../styles/common';
@import '../../styles/wrap';

.not-found {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 16%;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__img {
    width: 100%;
  }

  &__title {
    @include font(500, 24px, 28px);

    margin-top: 40px;
  }

  &__desc {
    margin-top: 10px;
  }

  &__btn {
    margin-top: 30px;
  }
}
