@import '../../styles/vars';

.loader {
  position: relative;
  height: 40px;

  &__inner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba($bg, 0.8);
    display: flex;
    justify-content: center;
  }

  &__item {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 4px solid $blue;
    border-color: $blue $blue $blue transparent;
    animation: ring 1.2s linear infinite;
  }

  @keyframes ring {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
