/* inputs */
.name {
  display: flex;
  flex-direction: column;

  &__label {
    @include font(500, 12px, 14px);

    margin-bottom: 10px;
  }

  &__input {
    border-radius: 4px;
    border: 1px solid $blue-outline;
    background: $white;
    width: 100%;
    padding: 12px 15px;

    &::placeholder {
      @include font(400, 14px, 16px);

      color: $black;
      opacity: 0.6;
    }

    &-search {
      padding-right: 30px;
    }

    &:hover {
      border-color: $grey-blue;
    }

    &:active,
    &:focus {
      border-color: $blue;
    }

    &--incorect {
      border-color: $red;
    }
  }
}

.search {
  display: flex;
  flex-direction: column;

  &__label {
    @include font(500, 12px, 14px);

    margin-bottom: 10px;
  }

  &__input {
    border-radius: 4px;
    border: 1px solid $blue-outline;
    background: $white;
    width: 100%;
    padding: 12px 30px 12px 15px;

    &::placeholder {
      @include font(400, 14px, 16px);

      color: $black;
      opacity: 0.6;
    }

    &:hover {
      border-color: $grey-blue;
    }

    &:focus {
      border-color: $blue;
      padding-left: 38px;
    }
  }

  &__input-inner {
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 14px;
  }

  &__input:focus + .search__icon {
    left: 14px;
  }

  &__btn {
    visibility: hidden;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  &__input:focus ~ .search__btn {
    visibility: visible;
  }
}

.date {
  display: flex;
  flex-direction: column;

  &__label {
    @include font(500, 12px, 14px);

    margin-bottom: 10px;
  }

  &__input {
    border-radius: 4px;
    border: 1px solid $blue-outline;
    background: $white;
    width: 100%;
    padding: 12px 30px 12px 15px;

    &::placeholder {
      @include font(400, 14px, 16px);

      color: $black;
      opacity: 0.6;
    }

    &:hover {
      border-color: $grey-blue;
    }

    &:focus {
      border-color: $blue;
    }
  }

  &__input-inner {
    position: relative;
  }

  &__icon {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
  }
}

/*  buttons  */
.btn {
  display: flex;
  border-radius: 4px;
  font-weight: 500;
  transition: 0.2s;
  border: 0;
  cursor: pointer;

  &-size-big {
    padding: 12px 15px;
  }

  &-size-small {
    padding: 9px 12px;
  }

  &__icon-inner {
    display: inline-flex;
    margin-right: 10px;
  }

  &__blue {
    background: $blue;
    color: $white;

    &:hover {
      background: #308fff;
    }

    &:active {
      background: #0067df;
    }

    &:disabled {
      opacity: 0.5;
    }
  }

  &__green {
    background: $green;
    color: $white;

    &:hover {
      background: #51efac;
    }

    &:active {
      background: #33cd8c;
    }

    &:disabled {
      opacity: 0.5;
    }
  }

  &__white {
    background: $white;
    color: $blue;

    &:hover {
      background-color: $lt-blue;
    }

    &:active {
      background-color: #c2dfff;
    }

    &:disabled {
      opacity: 0.5;
    }
  }

  &__red {
    color: $red;

    &:hover {
      background-color: #fff0ec;
    }

    &:active {
      background-color: #ffd9cf;
    }

    &:disabled {
      opacity: 0.5;
    }
  }

  &-edit-size-big {
    height: 40px;
    width: 40px;
    background: $blue;
    fill: $white;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: #308fff;
    }

    &:active {
      background-color: #0067df;
    }

    &:disabled {
      opacity: 0.5;
    }
  }

  &-edit-size-mini {
    width: 34px;
    height: 34px;
    fill: $blue;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: #308fff;
      fill: $white;
    }

    &:active {
      background-color: #0067df;
      fill: $white;
    }

    &:disabled {
      opacity: 0.3;
      fill: $blue;
    }
  }

  &-video-player {
    height: 40px;
    width: 40px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      opacity: 0.8;
    }
  }
}

.btn-cancel {
  width: 15px;
  height: 15px;
  border: 0;
  background: url('../assets/img/clear.svg') no-repeat top center transparent;

  &:hover {
    background: url('../assets/img/clear-blue.svg') no-repeat top center transparent;
  }
}

/* menu item */
.menu {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 16px;
  }

  &__item {
    font-weight: 500;
  }

  &__link {
    display: block;
    padding: 9px 12px;
    background: $white;
    border: 0;
    border-radius: 4px;
    color: $black;

    &:hover {
      color: $blue;
    }

    &:active,
    &:focus,
    &--active {
      color: $blue;
      background: $lt-blue;
    }
  }
}

/* notify */
.notify-bell {
  display: block;
  width: 40px;
  height: 40px;
  background: url('../assets/img/union.svg') no-repeat center center $white;
  border-radius: 4px;
  border: 1px solid transparent;
  position: relative;

  &:hover,
  &:focus {
    border-color: $lt-blue;
  }

  &:active {
    background: url('../assets/img/union.svg') no-repeat center center $lt-blue;
  }

  &__count {
    font-weight: 500;
    font-size: 12px;
    color: $white;
    background: $red;
    border: 2px solid $white;
    position: absolute;
    left: 50%;
    top: 0;
    padding: 0 4px;
    border-radius: 15px;
    max-width: 50px;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.notify-big {
  padding: 16px 20px;
  background: $white;
  border-bottom: 1px solid $blue-outline;
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 10px;

  &:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  }

  &__icon-inner {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: $lt-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &--active::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 9px;
      height: 9px;
      border: 2px solid $white;
      background-color: $red;
      border-radius: 50%;
    }
  }

  &__content-inner {
    display: flex;
    flex-wrap: wrap;
  }

  &__name {
    @include font(500, 14px, 16px);
  }

  &__time {
    @include font(400, 12px, 14px);

    order: 1;
    width: 100%;
    opacity: 0.6;
  }
}

/* profile */
.profile {
  display: flex;
  position: relative;

  &__img {
    border-radius: 50%;
    border: 1px solid transparent;
  }

  &__btn {
    display: flex;
    background-color: $white;
    border: 0;
    cursor: pointer;
    padding: 0 15px 0 0;
    position: relative;

    &::after {
      content: '';
      background: url('../assets/img/arrow-down.svg') no-repeat top center;
      width: 6px;
      height: 4px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:hover .profile__img {
      border: 1px solid $blue;
      transition: 0.2s;
    }

    &:focus .profile__img {
      border: 1px solid $blue;
      transition: 0.2s;
    }
  }

  &__menu-list {
    border: 1px solid $blue-outline;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background: $white;
    position: absolute;
    text-align: right;
    top: 100%;
    right: 30%;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;

    &--active {
      visibility: visible;
      opacity: 1;
      transition: 0.5s;
      z-index: 10;
    }
  }

  &__menu-item {
    &:not(:last-child) {
      border-bottom: 1px solid $blue-outline;
    }

    &:hover {
      background: $lt-blue;
    }
  }

  &__menu-link {
    color: $black;
    display: block;
    padding: 13px 14px 11px;
  }
}

/* content card */
.content-card {
  display: flex;
  flex-direction: column;

  &__poster {
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    margin-bottom: 15px;
  }

  &__img {
    width: 100%;
  }

  &:hover .content-card__poster {
    cursor: pointer;
    filter: drop-shadow(0 8px 20px rgba(0, 0, 0, 0.4));
    transition: 0.2s;
  }

  &__title {
    @include font(500, 14px, 16px);

    margin-bottom: 10px;

    &--video {
      color: $blue;
    }

    &--photo {
      color: $green;
    }

    &--audio {
      color: $yellow;
    }
  }

  &__time {
    opacity: 0.6;
    font-weight: 400;
  }

  &__desc {
    margin-bottom: 6px;
  }

  &__author {
    color: rgba($black, 0.6);
    font-size: 12px;
    line-height: 14px;

    &-time {
      padding-left: 15px;
      position: relative;
    }

    &-time::before {
      content: '';
      height: 3px;
      width: 3px;
      background: #70b2ff;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 8%;
      transform: translate(-50%, -50%);
    }
  }
}

/* filter content */
.filter {
  display: flex;
  cursor: pointer;

  &__name {
    @include font(500, 14px, 16px);

    border: 1px solid;
    border-radius: 4px;
    padding: 12px 15px;
    background: $white;

    &--video {
      border-color: $blue;
      color: $blue;

      &:hover {
        background-color: rgba($blue, 0.1);
      }

      &:active {
        background-color: $blue;
        color: $white;
      }
    }

    &--photo {
      color: $green;
      border-color: $green;

      &:hover {
        background-color: rgba($green, 0.1);
      }

      &:active {
        background-color: $green;
        color: $white;
      }
    }

    &--audio {
      color: $yellow;
      border-color: $yellow;

      &:hover {
        background-color: rgba($yellow, 0.1);
      }

      &:active {
        background: $yellow;
        color: $white;
      }
    }
  }

  &__input {
    appearance: none;
    position: absolute;

    &:focus + .filter__name {
      background-color: rgba($yellow, 0.1);
    }

    &:focus + .filter__name--video {
      background-color: rgba($blue, 0.1);
    }

    &:focus + .filter__name--photo {
      background-color: rgba($green, 0.1);
    }

    &:checked + .filter__name {
      color: $white;
    }

    &:checked + .filter__name--audio {
      background: $yellow;
    }

    &:checked + .filter__name--video {
      background: $blue;
    }

    &:checked + .filter__name--photo {
      background: $green;
    }
  }
}

.select {
  position: relative;

  &__title {
    @include font(500, 12px, 14px);

    margin-bottom: 10px;
  }

  &__header {
    cursor: pointer;
    border: 1px solid $blue-outline;
    border-radius: 4px;
    overflow: hidden;
    background-color: $white;
    margin-bottom: 10px;

    &:hover {
      border-color: $grey-blue;
    }
  }

  &--active .select__header {
    border-color: #0067df;
  }

  &__current {
    display: flex;
    padding: 12px 22px 12px 15px;
    position: relative;
    width: 100%;
    color: rgba($black, 0.6);

    &::after {
      content: '';
      background: url('../assets/img/arrow-down.svg') no-repeat top center;
      width: 6px;
      height: 4px;
      position: absolute;
      right: 15px;
      top: 45%;
    }
  }

  &--active .select__current::after {
    transform: rotate(180deg);
  }

  &__body {
    display: none;
    cursor: pointer;
    border: 1px solid $blue-outline;
    border-radius: 4px;
    background-color: $white;
    max-height: 334px;
  }

  &--active .select__body {
    display: block;
    position: absolute;
    width: 100%;
    z-index: 100;
  }

  &__item {
    display: flex;
    padding: 12px 15px;

    &--purple {
      color: #d663ff;
    }

    &--blue {
      color: #2cccff;
    }

    &--green {
      color: #97dc26;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $blue-outline;
    }

    &:hover {
      background: $lt-blue;
    }
  }
}

.select-status {
  position: relative;

  &__title {
    @include font(500, 12px, 14px);

    margin-bottom: 10px;
  }

  &__header {
    cursor: pointer;
    border: 1px solid $blue-outline;
    border-radius: 4px;
    overflow: hidden;
    background-color: $white;
    margin-bottom: 10px;

    &:hover {
      border-color: $grey-blue;
    }

    &--active {
      border-color: #0067df;
    }
  }

  &__current {
    display: flex;
    padding: 12px 15px;
    position: relative;

    &::after {
      content: '';
      background: url('../assets/img/arrow-down.svg') no-repeat top center;
      width: 6px;
      height: 4px;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__header--active .select-status__current::after {
    transform: rotate(180deg);
  }

  &__body {
    display: none;
    cursor: pointer;
    border: 1px solid $blue-outline;
    border-radius: 4px;
    background-color: $white;
    max-height: 334px;
  }

  &__header--active + .select-response__body {
    display: block;
    position: absolute;
    width: 100%;
    z-index: 100;
  }

  &__item {
    display: flex;
    padding: 12px 15px;

    &--purple {
      color: #d663ff;
    }

    &--blue {
      color: #2cccff;
    }

    &--green {
      color: #97dc26;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $blue-outline;
    }

    &:hover {
      background: $lt-blue;
    }
  }
}

/* load */
.load-content {
  padding: 30px;
  background: $white;
  border-radius: 4px;
  border: 1px solid $blue-outline;

  &__desc {
    display: flex;
    flex-wrap: wrap;
  }

  &__title {
    @include font(500, 16px, 19px);

    margin-right: 20px;
  }

  &__format {
    opacity: 0.6;
    margin-right: 9px;
  }

  &__format-list {
    display: flex;
    column-gap: 5px;
  }

  &__uploaded {
    order: 1;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0 7px;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
  }

  &__uploaded-inner {
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 2px;

    &--loading {
      border-color: $blue-outline;
    }
  }

  &__uploaded-content {
    display: flex;
    border-radius: 4px;
    width: 110px;
    height: 68px;
  }

  &__block-item-inner {
    order: 1;
  }

  &__file-load-form {
    order: 1;
  }

  &__file-load-label {
    color: $grey-blue;
    cursor: pointer;
    width: 110px;
    height: 68px;
    border: 2px dashed $grey-blue;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      border-color: $blue;
      color: $blue;
    }
  }

  &__file-load-input {
    appearance: none;
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }

  &__file-load-icon {
    text-align: center;
  }
}

/* card task */
.card-task {
  border-radius: 4px;
  background: $white;
  border: 1px solid $blue-outline;
  padding: 18px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  cursor: pointer;

  @media (max-width: 1050px) {
    row-gap: 10px;
    flex-wrap: wrap;
  }

  &:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  }

  &__type {
    font-weight: 500;
    white-space: nowrap;

    &--video {
      color: $blue;
    }

    &--photo {
      color: $green;
    }

    &--audio {
      color: $yellow;
    }
  }

  &__title {
    @include font(500, 14px, 16px);

    max-width: 482px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
  }

  &__title-overlay {
    position: absolute;
    right: 0;
    height: 100%;
    width: 183px;
    background: linear-gradient(270deg, $white 0%, rgba(255, 255, 255, 0) 100%);
  }

  &__author {
    max-width: 165px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__date-inner {
    display: flex;
    align-items: center;
    column-gap: 10px;
    max-width: 116px;
    width: 100%;
  }

  &__date-icon {
    fill: #96aecd;
  }

  &__status {
    @include font(500, 14px, 16px);

    max-width: 181px;
    width: 100%;
    overflow: hidden;

    &--purple {
      color: #d663ff;
    }

    &--blue {
      color: #2cccff;
    }

    &--green {
      color: #97dc26;
    }
  }

  &__btn-inner {
    display: flex;
    column-gap: 15px;
    max-width: 83px;
    width: 100%;
    justify-content: flex-end;
  }
}
