$white: #fff;
$white-smoke: #f2f2f2;
$gray: #333;
$gray-light: #bdbdbd;
$red: #e5261e;
$dark-red: #cc221b;
$blue-dark: #1f4766;

$yellow-gradient: linear-gradient(127.83deg, #f2c94c 8.44%, #f29a4a 91.36%);
$orange-gradient: linear-gradient(127.83deg, #f2994a 8.44%, #eb5757 91.36%);
$blue-gradient: linear-gradient(127.83deg, #56ccf2 8.44%, #2f80ed 91.36%);
$gray-gradient: linear-gradient(127.83deg, #828282 8.44%, #333 91.36%);

$font-default: 'Rubik', sans-serif;
